<?xml version="1.0"?>
<robot name="basic_robot">

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1" />
  </material>
  
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.4 0.4 0.1"/>
      </geometry>
      <origin xyz="0 0 0.05" rpy="0 0 0" />
      <material name="grey" />
    </visual>
  </link>

</robot>
